* {
    margin: 0px;
    padding: 0px;
}

h1 {
    
    text-align: center;
    font:bold;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    color: hwb(120 7% 6%);
    
    
    
    
}

h2 {
    font: bold 14px verdana, arial, sans-serif;
    text-shadow: 7px 4px 5px hsl(240, 69%, 61%);
}

body {
   text-align: center;
   background-image: url(imagenes/fondo-degradado-ordenador-portatil-visto-arriba_52683-6291.avif);
   
}

#cuerpo {
    width: 960px;
    margin: 15px auto;
    text-align: left;
}

#cabecera {
    background: hwb(240 52% 20% / 0);
    border:1px solid hsla(0, 5%, 78%, 0.898);
    padding: 20px;
    text-align: center;
}

.logo {
    clip-path: circle(35%);
    width: 400px;
    transition: .3s;
    
}

.logo:hover{
    clip-path: circle(38%);
    scale: 1.02;
}


#menu {
    background: hsl(0, 4%, 71%);
    padding: 5px 100px;
    font-size: medium
    

}

.nav-enlace{
    text-align: center;
    width: 100px;
    margin: 10px;
    display:inline-block;
    background: #1506e4;
    color: blanchedalmond;
    padding: 10px 30px;
    text-decoration: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px; 
    border-radius: 20px;
    -moz-box-shadow:#070606 5px 5px;
    -webkit-box-shadow: #141111 5px 5px;
    box-shadow: #0f0e0e 5px 5px;
}

.nav-enlace:hover {
    background: #2b07ac;
    

}

#seccion{
    float:left;
    width: 660px;
    margin: 20px;
    background: #7373e9; 
    
}

.articulo{
    
    background: hwb(276 4% 58% / 0.8);
    border: 5px solid hsl(0, 50%, 4%);
    padding: 10px;
    margin-bottom: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px; 
    border-radius: 20px;
    -moz-box-shadow:#d42121 5px 5px;
    -webkit-box-shadow: rgb(150,150,150) 5px 5px;
    box-shadow: rgb(82, 80, 80) 5px 5px; 
    
    
}
p{
    color: hsl(105, 25%, 3%);
    background-color: #fcfdfd;
    line-height: 1;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration: dashed;
    

}

p{
    color: hwb(60 4% 96%);
    background-color: #fcfdfd;
    line-height: 1;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration: dashed;
     
}

span.sub {
    vertical-align:sub;
}

.parrafo1{
    color:hwb(120 4% 95%);
    background-color: hwb(0 95% 3%);
    font-size: 15px;
    line-height: 1;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration: dashed;
    
}

#lateral{
    float:left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: chartreuse;
    
}

table {
    text-shadow: #369;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    border-radius: 1px;
    
    
    }

table {
    
    margin: 15px;
    text-shadow: rgb(204, 211, 207) 2px 2px 2px;
    font-family: Verdana, Tahoma, sans-serif; 
    font-size: 30px;
    border-radius: 10px; 
    text-align: center;
     
    

    
      
    
}

#pie {
    
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 5px solid #999999;
}

/* fgfggfggfggggfgg */